Repository RyanChristian4427/tempest_depr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, yarn-lint

cargo-fmt:
  name: Cargo Format
  language: system
  entry: bash -c 'cd packages/api && cargo fmt'
  args: []

yarn-lint:
  name: Yarn Lint
  language: system
  entry: bash -c 'cd packages/web-app && yarn lint'
  args: []

refactor: Refactoring default template
  packages/web-app/src/components/Header/index.tsx
  packages/web-app/src/components/Header/style.css
  packages/web-app/src/routes/App.tsx
  packages/web-app/src/routes/Auth/login.tsx
  packages/web-app/src/routes/NotFound/index.tsx
  packages/web-app/src/routes/NotFound/style.css
  packages/web-app/src/routes/home/index.tsx
  packages/web-app/src/routes/profile/index.tsx
  packages/web-app/src/routes/profile/style.css
Due: yarn-lint

ci(travis): Adding CI stage for Node
  .travis.yml
Due: none

ci(travis): Fixing 14.x -> 14
  .travis.yml
Due: none

ci(travis): Forgot to add 'cd' command to Node stage
  .travis.yml
Due: none

ci(travis): Fixing fast_finish on Travis
  .travis.yml
Due: none

chore(deps): Upgrading web-app-old just to supress the warnings
  packages/web-app-old/package-lock.json
  packages/web-app-old/package.json
Due: yarn-lint

refactor(deps): Downgraded TS Eslint libs
  packages/web-app/package.json
  packages/web-app/yarn.lock
Due: yarn-lint

refactor: Adjusting eslint config
  packages/web-app/.eslintrc.js
  packages/web-app/tsconfig.json
Due: yarn-lint

feat: Setting up basic route stucture
  packages/web-app/src/routes/App.tsx
  packages/web-app/src/routes/Auth/register.tsx
Due: yarn-lint

feat: Login page layout + mobile view complete
  packages/web-app/src/routes/Auth/login.tsx
  packages/web-app/src/style/_auth.scss
Due: yarn-lint

style(linting): Linting changes in /api
  packages/api/Cargo.lock
  packages/api/docker-compose.yml
  packages/api/src/api/auth_middleware.rs
  packages/api/src/api/v1/auth_controller.rs
  packages/api/src/db/mod.rs
  packages/api/src/lib.rs
  packages/web-app/src/assets/fdafda.ico
Due: cargo-fmt

style: Fixed code formatting in .eslintrc.js
  packages/web-app/.eslintrc.js
  packages/web-app/tsconfig.eslint.json
  packages/web-app/tsconfig.json
Due: yarn-lint

feat(deps): Added recoil
  packages/web-app/package.json
  packages/web-app/yarn.lock
Due: yarn-lint

style(eslint): Disabling interface prefix rule
  packages/web-app/.eslintrc.js
Due: yarn-lint

refactor: Rewrote API error handler
  packages/api/src/api/v1/auth_controller.rs
  packages/api/src/api/v1/user_controller.rs
  packages/api/src/errors.rs
Due: cargo-fmt

refactor: Replacing web-app's favicon
  packages/web-app/src/assets/favicon.ico
  packages/web-app/src/assets/fdafda.ico
  packages/web-app/src/assets/mail.svg
Due: none

test: Fixed up test suite after error handler rewrite
  packages/api/tests/auth_tests.rs
  packages/api/tests/common/mod.rs
  packages/api/tests/user_tests.rs
Due: cargo-fmt

feat: Misc changes that I need to move off system
  packages/api/migrations/2019-08-12-021255_users/up.sql
  packages/api/src/api/v1/auth_controller.rs
  packages/web-app/.babelrc
  packages/web-app/package.json
  packages/web-app/preact.config.js
  packages/web-app/src/components/Core/Header/index.tsx
  packages/web-app/src/components/Header/index.tsx
  packages/web-app/src/components/Header/style.css
  packages/web-app/src/models/User.ts
  packages/web-app/src/routes/App.tsx
  packages/web-app/src/routes/Auth/forgottenPassword.tsx
  packages/web-app/src/routes/Auth/index.tsx
  packages/web-app/src/routes/Auth/login.tsx
  packages/web-app/src/services/api/auth.ts
  packages/web-app/src/stores/auth.ts
  packages/web-app/yarn.lock
Due: cargo-fmt, yarn-lint

docs(readme): Fixing typo in API Readme
  packages/api/README.md
Due: yarn-lint

refactor: Removing entire web app for now
  packages/web-app/.babelrc
  packages/web-app/.eslintignore
  packages/web-app/.eslintrc.js
  packages/web-app/.gitignore
  packages/web-app/.prettierignore
  packages/web-app/.prettierrc.js
  packages/web-app/README.md
  packages/web-app/package.json
  packages/web-app/preact.config.js
  packages/web-app/src/assets/favicon.ico
  packages/web-app/src/assets/icons/android-chrome-192x192.png
  packages/web-app/src/assets/icons/android-chrome-512x512.png
  packages/web-app/src/assets/icons/apple-touch-icon.png
  packages/web-app/src/assets/icons/favicon-16x16.png
  packages/web-app/src/assets/icons/favicon-32x32.png
  packages/web-app/src/assets/icons/mstile-150x150.png
  packages/web-app/src/assets/mail.svg
  packages/web-app/src/components/Core/Header/index.tsx
  packages/web-app/src/declaration.d.ts
  packages/web-app/src/index.ts
  packages/web-app/src/manifest.json
  packages/web-app/src/models/User.ts
  packages/web-app/src/routes/App.tsx
  packages/web-app/src/routes/Auth/forgottenPassword.tsx
  packages/web-app/src/routes/Auth/index.tsx
  packages/web-app/src/routes/Auth/login.tsx
  packages/web-app/src/routes/Auth/register.tsx
  packages/web-app/src/routes/NotFound/index.tsx
  packages/web-app/src/routes/NotFound/style.css
  packages/web-app/src/services/api/auth.ts
  packages/web-app/src/stores/auth.ts
  packages/web-app/src/style/_auth.scss
  packages/web-app/src/style/_variables.scss
  packages/web-app/src/style/index.scss
  packages/web-app/tsconfig.json
  packages/web-app/yarn.lock
Due: yarn-lint

fix: Resolving issues with Rocket on nightly
  packages/api/Cargo.lock
Due: none

fix: Resolving issues from deps version bump
  packages/api/tests/auth_tests.rs
  packages/api/tests/common/mod.rs
Due: cargo-fmt

docs(readme): Updating readme on current status
  README.md
Due: yarn-lint

ci(travis): Removing node build stage
  .travis.yml
Due: none

docs(readme): Fixing CI Status badge
  README.md
Due: yarn-lint

Path conditions:
  cargo-fmt: any of: \.rs$
  yarn-lint: any of: \.(js|ts|tsx|css|md|scss|json)$
